export OPENAI_API_KEY=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
export OPENAI_ORG=org-XKZGqx6ipa3y2GGgDuQn80Co
export REPLICATE_API_TOKEN=r8_HX2XEB6WGINwTZW1OaaaOrIDbBDngjC1vGgOU
export CLOUDFLARE_ACCESS_KEY_ID=9f916a77f77b3cb0b1d4d1b184c2611f
export CLOUDFLARE_SECRET_ACCESS_KEY=2b5e274e962de2309f02491bc9ac58642604a6652db1674db1e291e1f251d7ae
export BUCKET_NAME=saigely
export CLOUDFLARE_PUBLIC_URL=https://saigelystorage.ericworkman.com
